# Byte-compiled / cache
.idea/
.venv/
__pycache__/
*.pyc
*.pyo

# Environment / virtualenv
.venv*

# Build / packaging
build/
dist/
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
*.egg

# data
input/
output/

# local artifacts
wsl

# local configs (keep example template)
configs/*.toml
!configs/example_config.toml
